html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom */

body {
    font-size: 20px;
    background-color: rgb(49, 49, 49);
    color: rgb(247, 229, 229)
}
.section {
    margin: 5% 12%;
    /* text-align: center; */
}
h2 {
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 7%;
    font-weight: 800;
    font-family: 'Kaisei HarunoUmi', serif;
    text-shadow: 2px 5px 10px black;
}
.subheading {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 34px;
    margin-bottom: 3%;
}
.tag {
    color: rgb(226, 27, 80);
}
p {
    font-size: 20px;
    padding: 2% 0;
    color: rgb(212, 179, 179);
    font-family: 'Open Sans', sans-serif;
}
.brief {
    margin-bottom: 3%;
}